@font-face {
	 src: url('ScoutCond-Regular.otf');
	 font-family: scout;
}

a:link {
     color: white ;
}

a:visited {
     color: #23529B;
}

a:active {
     color: white;
}

a:hover {
     background-color: #0099CC ;
     color: white ;
}


body    {
	 background-color:  #56296C;
	 
	 background-image: url('back.jpg');
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 
	 border: 5px groove #CEDBE3;
	 font-family:'scout';
	 padding: 120px;
	 
}
 div.content {
	 background-image: linear-gradient( #061261, #A10B0B );
	 margin: auto;
	 padding: 50px;
	 width: 900px;
}

	 
h1  {
	 font-family: scout;
	 font-size: 50pt;
	 text-align: center;
}

h2  {
	 font-size: 35pt;
}

h1, h2  {
	 color: #828F9F;
	 text-shadow: 2px 2px 5px #515763 ;
}

p, li  {
	 color: white;
	 font-size: 18pt;
	 text-align: left;
	 line-height: 1.5em;
}	

img.yellow {
	 float: right;
	 margin-right: 25px;
	 margin-bottom: 20px;
	 width: 400px;
}

img.sneaky {
	 float: right;
	 margin-right: 25px;
	 margin-bottom: 20px;
	 width: 450px;
}

img.rbbow {
	 float: center;
	 width: 300px;
	 margin-left: 300px;
}

img.hostage {
	 float: right;
	 margin-right: 50px;
	 margin-bottom: 20px;
	 margin-left: 20px;
}

img.loading {
	 float: center;
	 margin-left: 150px;
}

img.wow {
	 float: right;
	 margin-right: 50px;
	 margin-bottom: 20px;
	 margin-left: 20px;
}

img.walls {
	 float: right;
	 margin-right: 50px;
	 margin-bottom: 20px;
	 margin-left: 20px;
}

.current {
     background-color: #3D434F;
}			
ul {
     background-color: #bbb;
     border: 1px solid #e7e7e7;
     color: white;
     list-style-type: none;
     margin-left: 80px;
     padding: 1px;
     overflow: hidden;
     text-align: center;
     width: 995px;
   
}

li {
     float: left;
     margin-left: 125px;
}

li a {
     color: white;
     display: block;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;]
}

li a:hover:not(.active) {
     background-color: #ddd;
}

li a.active {
     color: white;
     background-color: #4CAF50;
}

		table, th, td {
		     border-bottom: 3px solid #881111 ;
			 border-right: 3px solid #881111;
			 color: white;
			 font-size: 20pt;
			 text-align: center;
			 }
			 
	    table {
		    border-collapse: collapse;
			width: 800px;
			margin: auto;
			}
			
		.mode1{
		    background-color: #CFDAD2;
			}
			
		tr {
		     background-color: #708C8E;
		}
		
		td:hover {
		    background-color: #364445;
			color: white;
			}
			
		th, td {
		    padding: 10px;
			}
			
		th {
            background-color: #1D6299 ;
            color: #DCE8FF;			
		}
		
		
div.gallery {
  margin: 20px;
  border: 3px solid #ccc;
  float: left;
  width: 250px;
}

div.gallery:hover {
  border: 3px solid #061261;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: center;
  color: black;
  background-color: white;
}